<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
          <div class="card-header">
            <h3  *ngIf="addbtnFlag">Add New User</h3>
            <h3  *ngIf="updatebtnFlag">Update User</h3>
          </div>
            <div class="card-body">
                <form  #f="ngForm">
                    <mat-form-field class="example-full-width">
                        <mat-label>Name</mat-label>
                            <input required
                            name="name" 
                            [(ngModel)]="userObj.name" 
                            #nameEr="ngModel" 
                            matInput >
                    </mat-form-field>
                    <div [hidden]="nameEr.valid || nameEr.untouched">
                        <div [hidden]="!nameEr?.errors?.required"></div>
                        <mat-error>Name is required*</mat-error>
                    </div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                            <input required
                            name="email" 
                            #emailEr="ngModel" 
                            type="email" 
                            [(ngModel)]="userObj.email" 
                            matInput >
                        </mat-form-field>
                    <div [hidden]="emailEr.valid || emailEr.untouched">
                        <div [hidden]="!emailEr?.errors?.required"></div>
                        <mat-error>Email is required*</mat-error>
                    </div>
                    <input 
                        class="form-control rounded-0" 
                        (change)="onChange($event)" 
                        name="img" 
                        type="file" 
                    >
                </form>
                <br><br>
                <button [disabled]="!f.valid" *ngIf="addbtnFlag"  mat-raised-button (click)="adduser()" color="accent">Add New user</button><br>
                <button [disabled]="!f.valid" *ngIf="updatebtnFlag"  mat-raised-button (click)="updateuser()" color="accent">Update user</button>
                <button  mat-raised-button (click)="onclickcancel()" color="accent">Cancel</button>
            </div>
        </div>
      </div>
    </div>
</div>


