.mat-table {
    border: 0;
    width:100%;
}
.mat-form-field
{
    width:100%;
}
.titlemain{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    font-size:30px;
    background-color:rgb(60, 105, 145);
    width:100%;
}
.titleDiv{
    background-color:rgb(60, 105, 145);
}
img{
    height:50px;
    width:50px;
}
@media screen and (max-width: 960px) {
    .mat-table {
      border: 0;
      width:100%;
      vertical-align: middle
    }
    .mat-table .mat-header-cell {
        clip: rect(0 0 0 0);
        padding: 0;
        position: absolute;
        width: 1px;
      }
    .mat-table .mat-cell {
        display: block;
        font-size: 1em;
        text-align: center;
        font-weight: bold;
        height:20%;
        margin-bottom: 4%;
        font-size:20px;
    }
    .mat-table .mat-cell:first-child {
        margin-top: 4%;
        border-top: lightseagreen 5px solid;
    }
    img{
        height:20%;
        width:20%;
        border-radius: 20%;
    }
    .titlemain{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:white;
        font-size:20px;
        width:100%;
        margin-left:40%;
    }
  }


